@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Space+Mono&display=swap');
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

h2 {
    overflow: hidden;
}

h2:after {
    content:"";
    display: inline-block;
    height: 0.70em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 15px;
    border-top: 0.15rem solid #1644DA;
}

html {
    scroll-behavior: smooth;
}