@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Space+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f9fafb;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 0.25rem;
  border: 2px solid #f9fafb;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

/* custom text selection color */
::-moz-selection {
  @apply text-gray-50 bg-gray-400;
}

::selection {
  @apply text-gray-50 bg-gray-400;
}

/* custom text line */
h2 {
  overflow: hidden;
}

h2:after {
  content: "";
  display: inline-block;
  height: 1.2rem;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 0.6rem;
  border-top: 0.13rem solid #3b82f6;
}

/* underline animation */
.underline-anim {
  text-decoration: none;
  background-image: linear-gradient(#f9fafb, #f9fafb),
    linear-gradient(rgba(59, 130, 246, 1), rgba(59, 130, 246, 1)),
    linear-gradient(rgba(59, 130, 246, 1), rgba(59, 130, 246, 1));
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms, background-position 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.underline-anim:hover {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

/* tailwind specific styles */
img {
  @apply pointer-events-none;
}

body {
  @apply bg-gray-50 font-primary;
}

.header {
  @apply uppercase font-secondary text-blue-600 text-3xl;
}

.text-primary {
  @apply text-gray-600 text-base md:text-lg leading-normal;
}

.text-link {
  @apply text-blue-600 inline-block;
}

.btn {
  @apply px-8 md:px-10 py-2 md:py-3 rounded capitalize shadow text-base md:text-lg hover:shadow-lg;
}

.btn:focus {
  @apply outline-none;
}

.btn-blue {
  @apply bg-blue-600 text-gray-50 border-2 border-blue-600 hover:bg-blue-500 hover:border-blue-500 transition transform ease-in-out duration-200 hover:-translate-y-0.5;
}

.btn-gray {
  @apply border-2 border-white bg-white text-blue-600 hover:text-blue-700 transition transform ease-in-out duration-200 hover:-translate-y-0.5;
}
